<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ReportKompas.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
    </startup>
    <userSettings>
        <ReportKompas.Properties.Settings>
            <setting name="PathSettingsEquipmenttextBox" serializeAs="String">
                <value>d:\Users\Comp-User\Documents\ReportKompas\CodeEquip.xml</value>
            </setting>
            <setting name="PathSettingsMaterialtextBox" serializeAs="String">
                <value>d:\Users\Comp-User\Documents\ReportKompas\CodeMaterial.xml</value>
            </setting>
        </ReportKompas.Properties.Settings>
    </userSettings>
</configuration>
